<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.futureworkshops.android.autocapture"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".AutocaptureApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/IBMDatacapTheme">
        <activity
            android:name=".presentation.splash.SplashscreenActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/IBMDatacapTheme.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.camera.view.CameraActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.edit.ImageEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.batch.view.BatchActivity"
            android:label="@string/title_batch_activity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>